@{
    ViewData["Title"] = "Home Page";
}

<main role="main" class="pb-3 main-content">
    <div class="text-center">
        <h1 class="display-4">
            Welcome

            @User.FindFirst("Username").Value
            <hr />
        </h1>
        
    </div>
</main>
