@model RegisterViewModel
@{
    ViewData["Title"] = "REGİSTER";
}





            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
                <div class="mb-3">
                    <label asp-for="Username" class="form-label">Username</label>
                    <input asp-for="Username" class="form-control">
                    <span asp-validation-for="Username" class="text-danger small"></span>
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" asp-for="Password" class="form-label">Password</label>
                    <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1">
                    <span asp-validation-for="Password" class="text-danger small"></span>
                </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" asp-for="RePassword" class="form-label">RePassword</label>
                    <input asp-for="RePassword" type="password" class="form-control" id="exampleInputPassword1">
                    <span asp-validation-for="RePassword" class="text-danger small"></span>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary"> Register</button>

            </form>
     